@(formTierras: Form[Tierras])
@import helper._

@main(comite = "Comite de Tierras", com="tierras"){

@if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
} 

@if(formTierras("id").value == null){


						<div align="center" class="control-group input-append">
						 	<label class="control-label" for="Ciudadano">Ciudadano a buscar</label>
						 	<div class="controls">
							    <input id="cedula" class="span3" id="appendedInputButton" type="text">
							    <button id="buscarCedula" rel="tooltip" data-placement="right" title="Ingrese una cedula a buscar" class="btn btn-primary" type="submit">Buscar</button>
							</div>
						</div>


}

 <form class="form-horizontal" style="padding-top: 10px; margin-bottom: 0;" id="validarForm" method="POST" action="@if(formTierras("id").value == null){/tierras/guardar}else{/tierras/actualizar}" autocomplete="off" />

	<div class="row-fluid">
		<div class="span12">
			<div class="well" style="padding-bottom: 10px;">
				<h4>@if(formTierras("id").value == null){Registro de Solicitud}else{Editar Solicitud}</h4>
				<hr class="separator" />
				<div class="row-fluid">
					<div class="span6">


						<input type="hidden" name="persona.id" id="persona.id" value="@formTierras("persona.id").value">

						<input type="hidden" name="id" id="id" value="@formTierras("id").value">


						<div class="control-group">
							<label class="control-label" for="nombre">Nombre</label>
							<div class="controls">
								<input class="span8" readOnly type="text" id="nombre" name="nombre" value="@formTierras("persona.nombre").value" />
							</div>
						</div>



						<div class="control-group">
							<label class="control-label" for="apellido">Apellido</label>
							<div class="controls">
								<input class="span8" readOnly id="apellido" name="apellido" type="text" value="@formTierras("persona.apellido").value" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="fecha">Fecha</label>
							<div class="controls">
								<input class="span10" readOnly type="text" id="datepicker2" name="fecha" value="@formTierras("fecha").value" />
							</div>
						</div>



						<div class="control-group">
							<label class="control-label" for="credito">Tipo de Credito</label>
							<div class="controls">
								<select name="credito" id="credito" class="span10">
									<option  @if(formTierras("credito").value == null){selected} value="" />
									<option  @if(formTierras("credito").value == "Tipo 1"){selected} value="Tipo 1" />Tipo 1
									<option  @if(formTierras("credito").value == "Tipo 2"){selected} value="Tipo 2" />Tipo 2
								</select>
							</div>
						</div>


						<h5>Datos del Fundo</h5>
						<hr class="separator" />


						<div class="control-group">
							<label class="control-label" for="fundo">Nombre del Fundo</label>
							<div class="controls">
								<input class="span10" type="text" id="fundo" name="fundo" value="@formTierras("fundo").value" />
							</div>
						</div>



						<h5>Linderos</h5>
						<hr class="separator" />
						<div class="control-group">
							<label class="control-label" for="norte">Norte</label>
							<div class="controls">
								<input class="span6" type="text" id="norte" name="norte" value="@formTierras("norte").value" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="sur">Sur</label>
							<div class="controls">
								<input class="span6" type="text" id="sur" name="sur" value="@formTierras("sur").value" />
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="este">Este</label>
							<div class="controls">
								<input class="span6" type="text" id="este" name="este" value="@formTierras("este").value" />
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="oeste">Oeste</label>
							<div class="controls">
								<input class="span6" type="text" id="oeste" name="oeste" value="@formTierras("oeste").value" />
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="estado">Estado Solicitud</label>
							<div class="controls">
								<select name="estado" id="estado" class="span10">
									<option @if(formTierras("estado").value == null){selected} value="" />
									<option @if(formTierras("estado").value == "Aprobada"){selected} value="Aprobada" />Aprobada
									<option @if(formTierras("estado").value == "No Aprobada"){selected} value="No Aprobada" />No Aprobada
								</select>
							</div>
						</div>




					</div>

						
				</div>
			</div>

			<div class="form-actions">
					

				@if(formTierras("id").value == null){<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok">
						<i></i>Guardar
					</button>}else{<button type="submit" class="btn btn-icon btn-info glyphicons circle_ok" >
						<i></i>Actualizar
					</button>}

					<a class="btn btn-icon btn-default glyphicons circle_remove" href="/tierras/lista">
						<i></i>Cancelar
					</a>

				</div><br/><br/><br/><br/>
			</div>

		</div>
	</div>

</form>

<script>


$(function(){

	$('#datepicker2').datepicker();
	$('#datepicker1').datepicker();

});

        
</script>



}