@(formPersona: Form[Persona])
@import helper._

@main{

@if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
} 

<form class="form-horizontal" style="padding-top: 10px; margin-bottom: 0;" id="validarForm" method="POST" action="/ciudadanos/guardar" autocomplete="off" />

	<div class="row-fluid">
		<div class="span12">
			<div class="well" style="padding-bottom: 10px;">
				<h4>Registro de Ciudadanos</h4>
				<hr class="separator" />
				<div class="row-fluid">
					<div class="span6">

						<div class="control-group">
							<label class="control-label" for="cedula">Cedula</label>
							<div class="controls">
								<input class="span12" id="cedula" name="cedula" type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="nombre">Nombre</label>
							<div class="controls">
								<input class="span12" id="nombre" name="nombre" type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="apellido">Apellido</label>
							<div class="controls">
								<input class="span12" id="apellido" name="apellido" type="text" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="fechaNac">Fecha de Nacimiento</label>
							<div class="controls">
								<input class="span12" type="text" id="datepicker" name="fechaNac" value="" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="sexo">G&eacute;nero</label>
							<div class="controls">
								<select name="sexo" id="sexo" class="span12">
									<option value="Masculino" />Masculino
									<option value="Femenino" />Femenino
								</select>
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="telefono">Tel&eacute;fono</label>
							<div class="controls">
								<input class="span12" id="telefono" name="telefono" type="text" />
							</div>
						</div>



						<div class="control-group">
							<label class="control-label" for="direccion">Direcci&oacute;n</label>
							<div class="controls">
								<textarea rows="3" class="span12" name="direccion" id="direccion"></textarea>
							</div>
						</div>


						


					</div>

						
					<div class="span6">

						<div class="control-group">
							<label class="control-label" for="gradoInstruccion">Grado de Instrucci&oacute;n</label>
							<div class="controls">
								<select name="gradoInstruccion" id="gradoInstruccion" class="span12">
									<option value="Sin estudios" />Sin estudios
									<option value="Primaria" />Primaria
									<option value="Bachiller" />Bachiller
									<option value="Universitario" />Universitario
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="ingresoMensual">Ingreso Mensual</label>
							<div class="controls">
								<input class="span12" id="ingresoMensual" name="ingresoMensual" type="text" />
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="estadoCivil">Estado Civil</label>
							<div class="controls">
								<ul>
								
									<label class="radio">
										<input type="radio" class="radio" name="estadoCivil" value="Soltero" /> Soltero
									</label><br />
										
									<label class="radio">
										<input type="radio" class="radio" name="estadoCivil" value="Casado" /> Casado
									</label><br />
										
									<label class="radio">
										<input type="radio" class="radio" name="estadoCivil" value="Divorciado" /> Divorciado
									</label>
								</ul>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="tipoVivienda">Tipo de Vivienda</label>
							<div class="controls">
								<ul>
								
									<label class="radio">
										<input type="radio" class="radio" name="tipoVivienda" value="Propia" /> Propia
									</label><br />
										
									<label class="radio">
										<input type="radio" class="radio" name="tipoVivienda" value="Alquilada" /> Alquilada
									</label><br />
										
									<label class="radio">
										<input type="radio" class="radio" name="tipoVivienda" value="Otra" /> Otra
									</label>
								</ul>
							</div>
						</div>

					</div>
				
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok">
						<i></i>Guardar
					</button>
					<button type="button" class="btn btn-icon btn-default glyphicons circle_remove">
						<i></i>Cancelar
					</button>
				</div><br/><br/><br/><br/>
			</div>
		</div>
	</div>

</form>

}
					