@(formTransporte: Form[Transporte])
@import helper._

@main(comite = "Comite de Transporte", com="transporte"){

@if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
} 




	<div align="center" class="control-group input-append">
	 	<label class="control-label" for="Ciudadano">Cedula representante</label>
		<div class="controls">
			<input id="cedula" class="span3" type="text">
			<button id="buscarCedulaH" rel="tooltip" data-placement="right" title="Ingrese una cedula a buscar" class="btn btn-primary" type="submit">Buscar</button>
		</div>
		<select name="hijos" id="hijos" class="span2" onChange="combo(this);"></select>
	</div>






 <form class="form-horizontal" style="padding-top: 10px; margin-bottom: 0;" id="validarForm" method="POST" action="/transporte/guardar" autocomplete="off" />

	<div class="row-fluid">
		<div class="span12">
			<div class="well" style="padding-bottom: 10px;">
				<h4>Pago Estudiantil</h4>
				<hr class="separator" />
				<div class="row-fluid">
					<div class="span6">


						<input type="hidden" name="hijos.id" id="hijos.id" value="">


						<h5>Datos del Estudiante</h5>
						<hr class="separator" />

						<div class="control-group">
							<label class="control-label" for="estudiante">Nombre y Apellido</label>
							<div class="controls">
								<input class="span8" readOnly id="estudiante" name="estudiante" type="text" />
							</div>
						</div>






					</div>

					<div class="span6">

						<h5>Datos del Pago</h5>
						<hr class="separator" />

						<div class="control-group input-append date">
							<label class="control-label" for="fechaPago">Fecha de Pago</label>
							<div class="controls">
								<input class="span12" readOnly id="datepicker2" name="fechaPago" type="text" />
							</div>
						</div>



						<div class="control-group input-append date">
							<label class="control-label" for="mesCorrespondiente">Corresponde al Mes</label>
							<div class="controls">
					    		<input id="datepicker1" readOnly class="span12" type="text" name="mesCorrespondiente" data-date-format="mm-yyyy" data-date-viewmode="months" data-date-minviewmode="months">
					    	</div>
					    </div>


						<div class="control-group">
							<label class="control-label" for="monto">Monto</label>
							<div class="controls">
								<input class="span8"  id="monto" name="monto" type="text" />
							</div>
						</div>

					</div>
						
				</div>
			</div>

			<div class="form-actions">
					<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok">
						<i></i>Guardar
					</button>
					<button type="button" class="btn btn-icon btn-default glyphicons circle_remove">
						<i></i>Cancelar
					</button>
				</div><br/><br/><br/><br/>
			</div>

		</div>
	</div>

</form>

<script>


function combo(t){
    var y=document.getElementById("hijos.id");
    y.value = t.value;


    var combo = document.getElementById("hijos");
	var selected = combo.options[combo.selectedIndex].text;
	var na=document.getElementById("estudiante");
	na.value=selected;
}   

$(function(){

	$('#datepicker2').datepicker();
	$('#datepicker1').datepicker();

});

</script>

}