@(paginaActual: Page[Transporte], currentSortBy: String, currentOrder: String, currentFilter: String)
@import helper._

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    routes.CTransporte.listar(newPage, sortBy, order, currentFilter)
    
}



@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(comite = "Lista de Pagos", com="transporte") {


    @if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "cedula")" method="GET">
        <div class="input-append">
        
            <input class="span3" id="appendedInputButton" size="16" name="busqueda" type="text" value="@currentFilter" placeholder="Ingrese una cedula...">
            <button rel="tooltip" data-placement="right" title="Ingrese una cedula a buscar" class="btn btn-primary" type="submit">Buscar</button>
 
        </div>
        </form>
        
        <a rel="tooltip" data-placement="left" title="Realizar Nuevo Pago" class="btn btn-success" id="add" href="/transporte/nuevo">Nuevo Pago</a>
        
    </div>
    
    @if(paginaActual.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nada para mostrar</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="reporte header" width="30"><a>PDF</a></th>
                    @header("hijos.cedulaH", "Cedula")
                    @header("hijos.nombreH", "Estudiante")
                    @header("fechaPago", "Fecha")
                    @header("mesCorrespondiente", "Pago del Mes")
                    @header("monto", "Monto")

                    
                    
                </tr>
            </thead>
            <tbody>

                @for(transporte <- paginaActual.getList) {
                    <tr>

                         <td>
                            <a href="#"><i class="icon-th-list"></i></a>
                        </td>
                    

                        <td>
                            <a href="#" rel="tooltip" data-placement="bottom" title="@transporte.hijos.cedulaH">@transporte.hijos.cedulaH</a>
                        </td>
                    
                        <td>
                         
                            <span rel="tooltip" data-placement="bottom" title="@transporte.hijos.nombreH">@transporte.hijos.nombreH @transporte.hijos.apellidoH</span>
                                
                        </td>

                        
                        <td>
                            <span rel="tooltip" data-placement="bottom" title="@transporte.fechaPago">@transporte.fechaPago</span>
                        </td>


                        <td>
                            <span rel="tooltip" data-placement="bottom" title="@transporte.mesCorrespondiente">@transporte.mesCorrespondiente</span>
                        </td>

                        <td>
                            <span rel="tooltip" data-placement="bottom" title="@transporte.monto">@transporte.monto</span>
                        </td>
                        
                        
                        

                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(paginaActual.hasPrev) {
                    <li class="prev">
                        <a href="@link(paginaActual.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Mostrando @paginaActual.getDisplayXtoYofZ(" al "," de ")</a>
                </li>
                @if(paginaActual.hasNext) {
                    <li class="next">
                        <a href="@link(paginaActual.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }



<script>



        $(function () {
            $("[rel=tooltip]").tooltip();
        });

</script>
        
}
