@(paginaActual: Page[Economia], currentSortBy: String, currentOrder: String, currentFilter: String)
@import helper._

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    routes.CEconomia.listar(newPage, sortBy, order, currentFilter)
    
}



@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(comite = "Lista de Solicitudes", com="economia") {


    @if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "cedula")" method="GET">
        <div class="input-append">
        
            <input class="span3" id="appendedInputButton" size="16" name="busqueda" type="text" value="@currentFilter" placeholder="Ingrese una cedula...">
            <button rel="tooltip" data-placement="right" title="Ingrese una cedula a buscar" class="btn btn-primary" type="submit">Buscar</button>
 
        </div>
        </form>
        
        <div id="add">
        <a rel="tooltip" data-placement="left" title="Registrar nueva solicitud" class="btn btn-success" href="/economia/nuevo">Nueva</a>

        <a rel="tooltip" data-placement="bottom" title="Reportes" class="btn btn-info" href="/alimentacion/reporte">Reportes</a>
    </div>
                        
        
    </div>
    
    @if(paginaActual.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nada para mostrar</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("persona.cedula", "Cedula")
                    @header("persona.nombre", "Ciudadano")
                    @header("solicitud", "Solicitud")
                    @header("fecha", "Fecha de Solicitud")
                    @header("estado", "Estado")
                    
                    
                </tr>
            </thead>
            <tbody>

                @for(economia <- paginaActual.getList) {
                    <tr @if(economia.estado=="Aprobada"){class="success"}else{class="error"}>                  
                    

                        <td>
                            <a href="/economia/editar/@economia.id" rel="tooltip" data-placement="bottom" title="@economia.persona.cedula">@economia.persona.cedula</a>
                        </td>
                    
                        <td>
                         
                            <span rel="tooltip" data-placement="bottom" title="@economia.persona.nombre @economia.persona.apellido">@economia.persona.nombre @economia.persona.apellido</span>
                                
                        </td>

                        
                        
                         <td>
                            <span rel="tooltip" data-placement="bottom" title="@economia.solicitud">@economia.solicitud</span>   
                        </td>


                        <td>
                            <span rel="tooltip" data-placement="bottom" title="@economia.fecha">@economia.fecha</span>
                        </td>

                        <td>
                            <span  @if(economia.estado=="Aprobada"){class="label label-success"}else{class="label label-important"} rel="tooltip" data-placement="bottom" title="@economia.estado">@economia.estado</span>
                        </td>
                        

                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(paginaActual.hasPrev) {
                    <li class="prev">
                        <a href="@link(paginaActual.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Mostrando @paginaActual.getDisplayXtoYofZ(" al "," de ")</a>
                </li>
                @if(paginaActual.hasNext) {
                    <li class="next">
                        <a href="@link(paginaActual.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }



<script>



        $(function () {
            $("[rel=tooltip]").tooltip();
        });

</script>
        
}

