@(comite: String = "")(content: Html)
<!DOCTYPE html>
<html>
<head>
	<title>@comite</title>
	
	<!-- Meta -->
	<meta charset="utf-8" />
	
	<!-- Bootstrap -->

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("template/bootstrap/css/bootstrap.min.css")">

	<link href="@routes.Assets.at("template/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" />

	<link href="@routes.Assets.at("template/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css")" rel="stylesheet" />

	<link href="@routes.Assets.at("template/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css")" rel="stylesheet" />

	<link href="@routes.Assets.at("template/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css")" rel="stylesheet" />

	<link rel="stylesheet" href="@routes.Assets.at("template/bootstrap/extend/bootstrap-select/bootstrap-select.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("template/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css")" />
	
	<!-- JQueryUI -->
	<link rel="stylesheet"  href="@routes.Assets.at("template/theme/scripts/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css")" />
	
	<!-- Glyphicons -->
	<link rel="stylesheet"  href="@routes.Assets.at("template/theme/css/glyphicons.css")" />

		<!-- Uniform -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("template/theme/scripts/pixelmatrix-uniform/css/uniform.default.css")" />

	<!-- JQuery -->
	<script  src="@routes.Assets.at("template/theme/scripts/jquery-1.8.2.min.js")"></script>
	
	<!-- CSS -->
	<link rel="stylesheet"  href="@routes.Assets.at("template/theme/css/style.min.css?1358876495")" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>


		
	
	<!-- Aqui inicia el contenido -->
	<div class="container-fluid left-menu">
		
		<!-- Barra superior principal -->
		<div class="navbar main">
			<div class="innerpx">
				<button type="button" class="btn btn-navbar hidden-desktop hidden-tablet">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				
				<div class="positionWrapper">
					<span class="line"></span>

					<!-- Imagen del perfil -->
					<div class="profile">
						<img src="./url/imagen" class="avatar" alt="Profile" />
						<span class="info hidden-phone">
							<strong>Luis Gustavo</strong>
							<em>Administrador</em>
						</span>
					</div>

					<!-- Notificaciones -->
					<ul class="notif">
						<li>
							<a href="" class="glyphicons envelope btn" rel="tooltip" data-placement="bottom" data-original-title="3 mensajes nuevos">
								<i></i>
								<span>3</span>
							</a>
						</li>
					</ul>
					
					<!-- Barra Derecha Superior con menus -->
					<ul class="topnav hidden-phone">
						
						<!-- Opcion desconectar -->
						<li>
							<a href="/login" class="logout glyphicons lock"  rel="tooltip" data-placement="bottom" data-original-title="Desconectarse del sistema">
								<i></i>
								<span>Salir</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	

		<!-- Menu de Opciones -->
		<div class="row-fluid rrow main">
			<div class="span12 main col" role="main">
				<div class="row-fluid rrow">
					<div class="span2 col main-left hide hidden-phone menu-large">
						<div class="rrow scroll-y-left">
							<div class="iScrollWrapper">
								<ul>
									<li class="glyphicons home currentScroll active">
										<a href="index.html">
											<i></i>
											<span>Inicio</span>
										</a>
									</li>
									
									<li class="glyphicons coins">
										<a href="/ciudadanos/nuevo">
											<i></i>
											<span>Ciudadanos</span>
										</a>
									</li>

									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons sort" href="#menuSalud">
											<i></i>
											<span>Comit&eacute; de Salud</span>
										</a>
										<ul class="collapse" id="menuSalud">
											<li class="">
												<a href="/salud/nuevo" class="glyphicons user">
													<i></i>
													<span>Realizar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/salud/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons picture" href="#menuVivienda">
											<i></i>
											<span>Comit&eacute; de Vivienda</span>
										</a>
										<ul class="collapse" id="menuVivienda">
											<li class="">
												<a href="/vivienda/nuevo" class="glyphicons user">
													<i></i>
													<span>Realizar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/vivienda/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>

									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons adress_book" href="#menuAgua">
											<i></i>
											<span>Comit&eacute; de Agua</span>
										</a>
										<ul class="collapse" id="menuAgua">
											<li class="">
												<a href="/agua/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Pago</span>
												</a>
											</li>

											<li class="">
												<a href="/vivienda/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Pagos</span>
												</a>
											</li>
										</ul>
									</li>

									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons cogwheels" href="#menuTierras">
											<i></i>
											<span>Comit&eacute; de Tierras</span>
										</a>
										<ul class="collapse" id="menuTierras">
											<li class="">
												<a href="/tierras/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/tierras/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>

									
									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons charts" href="#menuAlimentacion">
											<i></i>
											<span>Com. Alimentaci&oacute;n</span>
										</a>
										<ul class="collapse" id="menuAlimentacion">
											<li class="">
												<a href="/alimentacion/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Denuncia</span>
												</a>
											</li>

											<li class="">
												<a href="/alimentacion/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Denuncias</span>
												</a>
											</li>
										</ul>
									</li>


									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons picture" href="#menuTransporte">
											<i></i>
											<span>Com. Transporte</span>
										</a>
										<ul class="collapse" id="menuTransporte">
											<li class="">
												<a href="/transporte/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Pagos</span>
												</a>
											</li>

											<li class="">
												<a href="/transporte/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Pagos</span>
												</a>
											</li>
										</ul>
									</li>

									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons cogwheels" href="#menuCultura">
											<i></i>
											<span>Educaci&oacute;n y Cultura</span>
										</a>
										<ul class="collapse" id="menuCultura">
											<li class="">
												<a href="/cultura/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/cultura/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>

									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons show_thumbnails_with_lines" href="#menuEconomia">
											<i></i>
											<span>Economia Popular</span>
										</a>
										<ul class="collapse" id="menuEconomia">
											<li class="">
												<a href="/economia/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/economia/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>


									<li class="hasSubmenu2">
										<a data-toggle="collapse" class="glyphicons sort" href="#menuIS">
											<i></i>
											<span>Igualdad Social</span>
										</a>
										<ul class="collapse" id="menuIS">
											<li class="">
												<a href="/is/nuevo" class="glyphicons user">
													<i></i>
													<span>Registrar Solicitud</span>
												</a>
											</li>

											<li class="">
												<a href="/is/lista" class="glyphicons user">
													<i></i>
													<span>Lista de Solicitudes</span>
												</a>
											</li>
										</ul>
									</li>



									


									
								</ul>
							</div>
							<span class="navarrow hide">
								<span class="glyphicons circle_arrow_down"><i></i></span>
							</span>
						</div>
					</div>
					<div class="span10 col main-right">
						<div class="rrow scroll-y" id="mainYScroller">
							<div class="inner topRight">
								<ul class="breadcrumb">
									<li><a href="index.html" class="glyphicons home"><i></i> Inicio</a></li>
									<li class="divider"></li>
									<li>Panel Administracion</li>
								</ul>
								<div class="separator"></div>

								<h2 class="glyphicons show_thumbnails_with_lines"><i></i> @comite</h2>
								<div class="separator"></div>

								@content

								
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin Menu de Opciones -->
		
		<!-- Pie de Pagina -->
		<div id="footer" class="hide">
	      	<div class="wrap">
	      		<ul class="notif">
	      			<li class="active">
	      				<span data-toggle="menu-position" data-menu-position="left-menu" class="glyphicons circle_arrow_left" title="Mover Menus a la izquierda">
	      					<i></i>
	      				</span>
	      			</li>
	      			<li>
	      				<span data-toggle="menu-position" data-menu-position="right-menu" class="glyphicons circle_arrow_right" title="Mover Menus a la derecha">
	      					<i></i>
	      				</span>
	      			</li>
	      			<li>
	      				<span data-toggle="menu-position" data-menu-position="top-menu" class="glyphicons circle_arrow_top" title=""><i></i></span>
	      			</li>
	      			<li class="divider"></li>
	      			<li class="active">
	      				<span data-toggle="menu-size" data-menu-size="0" class="glyphicons show_big_thumbnails text" title="Menus grandes">
	      					<i></i>
	      					<span class="hidden-phone">Menus Grandes</span>
	      				</span>
	      			</li>
	      			<li>
	      				<span data-toggle="menu-size" data-menu-size="1" class="glyphicons show_thumbnails text" title="Menus peque&ntilde;os">
	      					<i></i>
	      					<span class="hidden-phone">Menus peque&ntilde;os</span>
	      				</span>
	      			</li>		      			
	      			<li>
	      				<a href="#" class="glyphicons circle_question_mark text" title="Documentacion del Sistema">
	      					<i></i>
	      					<span class="hidden-phone">Ayuda</span>
	      				</a>
	      			</li>
	      		</ul>
	      	</div>
	    </div>
		
	</div>
	<!-- Fin Contenido -->
	
	<!-- Ocultar Scroll -->
	<script src="@routes.Assets.at("template/theme/scripts/cubiq-iscroll/src/iscroll.js")"></script>

	<script type="text/javascript" src="@routes.Assets.at("template/theme/scripts/scroll.js")"></script>
	
	<!-- JQueryUI -->
	<script src="@routes.Assets.at("template/theme/scripts/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js")"></script>

	<script src="@routes.Assets.at("template/theme/scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")"></script>
	<script src="@routes.Assets.at("template/theme/scripts/jquery.cookie.js")"></script>
	<script src="@routes.Assets.at("template/theme/scripts/themer.js")"></script>

		<!-- Uniform -->
	<script src="@routes.Assets.at("template/theme/scripts/pixelmatrix-uniform/jquery.uniform.min.js")"></script>

		<!-- jQuery Validate -->
	<script src="@routes.Assets.at("template/theme/scripts/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("template/theme/scripts/form_validator.js")" type="text/javascript"></script>
	
	<!-- Bootstrap Script -->
	<script src="@routes.Assets.at("template/bootstrap/js/bootstrap.min.js")"></script>

	<script src="@routes.Assets.at("template/bootstrap/extend/bootstrap-select/bootstrap-select.js")"></script>
	<script src="@routes.Assets.at("template/bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js")"></script>
	<script src="@routes.Assets.at("template/bootstrap/extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")"></script>

	<script src="@routes.Assets.at("template/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("template/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js")" type="text/javascript"></script>
	
	
	<!-- Custom Onload Script -->
	<script src="@routes.Assets.at("javascripts/ajax.js")"></script>
	<script src="@routes.Assets.at("template/theme/scripts/load.js")"></script>

</body>
</html>