@(lista: List[Cultura])
@import helper._

<!DOCTYPE html>
<html>

  <body>


        <table width="100%">
          <tr>
            <td width="50%" align="left">
               <img width="100%" height="200%" src="./public/template/logoP.png"  />
            </td>
          </tr>
    </table>

    <br/>
    <br/>

    <table width="100%">
      <tr>
        <td align="center">Republica Bolivariana de Venezuela</td>
      </tr>
      <tr>
        <td align="center">Consejo Comunal La Esperanza de Orituco</td>
      </tr>
      <tr>
        <td align="center">Municipio Jose Tadeo Monagas, Parroquia Lezama, Guarico</td>
      </tr>

      <tr>
        <td align="center">Rif: J-24986707-1</td>
      </tr>
    </table>

    <br/>
    <br/>


    <table width="100%">
      <tr>
        <td align="center"><b>REPORTE DE DENUNCIAS</b><br/><br/></td>
      </tr>
      <tr>
        <td align="left"><b>Comite de cultura</b><br/></td>
      </tr>
    </table>




<table border="1" align="center">
                <tr align="center">
                    <td width="100px"><b>Cedula</b></td>
                    <td width="250px"><b>Nombre y Apellido</b></td>
                    <td width="150px"><b>Tallas Solicitando</b></td>
                    <td width="150px"><b>Utiles</b></td>
                    <td width="150px"><b>Fecha</b></td>                    
                    <td width="150px"><b>Estado</b></td>                    
                </tr>
          

                @for(cultura <- lista) {
                    <tr align="center">
                    
                        <td> 
                            <span>@cultura.hijos.cedulaH</span>    
                        </td>

                        <td>
                            <span>@cultura.hijos.nombreH  @cultura.hijos.apellidoH</span>
                        </td>

                        <td> 
                            <span><b>Pantalon:</b> @cultura.tPantalon, <b>Franela:</b> @cultura.tFranelas, <b>Zapatos</b> @cultura.tZapatos</span>    
                        </td>

                        <td> 
                            <span>@cultura.utiles</span>    
                        </td>

                        <td> 
                            <span>@cultura.fecha</span>    
                        </td>

                        <td> 
                            <span>@cultura.estado</span>    
                        </td>
                    </tr>
                }

        </table>

   
  </body>
</html>
